---
import Layout from "../layouts/main.layout.astro";
---

<Layout title="Index">
  <div class="container mx-auto text-center">
    <hjkk2 class="text-3xl font-semibold mt-20">WeJob - Open Job Platform</hjkk2
    >
    <p class="mt-4">
      Why are simple job postings so expensive? Just add your developer profile
      or job offer on your own (via github pull request) and get hosted for
      free.
    </p>
  </div>
  <div class="flex flex-row mt-8">
    <div class="w-1/2">
      <a href="/profiles" class="text-2xl font-semibold mt-8">For Developers</a>
    </div>
    <div class="w-1/2">
      <a href="jobs" class="text-2xl font-semibold mt-8">For Companies</a>
    </div>
  </div>
</Layout>
