---
import Layout from "../layouts/main.layout.astro";
---

<Layout title="WeJob ">
  <div class="container mx-auto text-center">
    <h2 class="text-3xl font-semibold mt-20">WeJob - Open Job Platform</h2>
    <p class="mt-4">
      Why are simple job postings so expensive? Just add your developer profile
      or job offer on your own (via github pull request) and get hosted for
      free.
    </p>
  </div>
  <div class="flex flex-row gap-4 mt-8 justify-center items-center">
    <div class="flex-1 flex justify-center">
      <a href="/profiles" class="btn text-center">For Developers</a>
    </div>
    <div class="flex-1 flex justify-center">
      <a href="jobs" class="btn text-center">For Companies</a>
    </div>
  </div>
</Layout>
