---
import HowTo from "../components/how-to.astro";
import Layout from "../layouts/main.layout.astro";
---

<Layout title="Index">
  <HowTo />
  <div class="font-medium text-xl">Profiles</div>
  <div class="border p-4 mt-8">Nothing here yet.</div>
</Layout>
