---
import Layout from "../../layouts/Layout.astro";
import image from "./chmac.jpeg";

const skills = [
  ["JavaScript", 10],
  ["TypeScript", 5],
  ["MeteorJS", 10],
  ["CSS", 7],
  ["HTML", 10],
];
const MAX_RATING = 10;
---

<Layout title="Callum Macdonald">
  <div class="text-center pt-36">
    <div class="w-60 m-auto">
      <img class="mask mask-squircle" src={image} alt="Luis Höfer" />
    </div>
    <h1 class="text-4xl py-4">Callum Macdonald</h1>
    <div class="text-xl py-4">Software Developer</div>
    <code class="skills">
      JS, TS, NodeJS, React, React Native, GatsbyJS, ++
    </code>
    <div class="social">
      <a
        href="https://www.linkedin.com/in/chmac"
        target="_blank"
        class="link link-hover pr-4"
      >
        <i class="ri-links-line"></i>
        LinkedIn</a
      >
      <a
        href="https://www.github.com/chmac"
        target="_blank"
        class="link link-hover"
      >
        <i class="ri-links-line"></i>
        GitHub</a
      >
    </div>
    <h2 class="font-bold text-lg pt-4">Skills</h2>

    <div class="flex flex-col max-w-md m-auto">
      {
        skills.map((skill) => (
          <div class="flex flex-row justify-between">
            <div>{skill[0]}: </div>
            <div>
              <progress
                class="progress progress-secondary w-56"
                value={skill[1]}
                max={MAX_RATING}
              />
            </div>
          </div>
        ))
      }
    </div>
  </div>
</Layout>
