---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
---

<Layout>
  <div class="flex gap-4">
    <Card
      title="Luis Höfer"
      body="JS Developer"
      location="Berlin"
      href="/devs/sarasate"
    />
    <Card
      title="Callum Macdonald"
      body="Software Developer"
      location="Berlin"
      href="/devs/chmac"
    />
  </div>
</Layout>
