---
import CompanyCard from "../../components/CompanyCard.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <div class="text-lg font-bold">Companies</div>
  <div class="flex gap-4">
    <CompanyCard
      title="Lawlift GmbH"
      location="Berlin"
      href="/companies/lawlift"
    />
  </div>
</Layout>
