---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
---

<Layout>
  <div>
    <div>Lawlift GmbH</div>
    <a href="https://www.lawlift.com/"> https://www.lawlift.com/</a>
  </div>
</Layout>
